<section class="mainsection">

    <div class="container">
        <header style="text-align: center;">
            <img id="Logo" src="../../assets/logo/crown.png" width="100px" height="100px" alt="Nobility Logo" />
            <h1>Nobility</h1>
            <h2>Business Analytics</h2>
            <div class="bodyText">
                <p>
                    Business reporting is essential to monitor performance over any period.
                    It enables practice owners and administrators to make better business
                    decisions, project future results, and drive improvements
                </p>
            </div>
            <div class="Btn"><button (click)="openDialog()" style=" border: none;
        border-top-left-radius: 100px; 
        border-bottom-left-radius: 100px; border-top-right-radius: 100px;
        border-bottom-right-radius: 100px; background-color: #47c885; 
        width: 100px; height: 40px;
        font-size: large;
        font-weight: bolder;
        color: white;">Login</button></div>
            <img style=" width: 100%;
        height: auto;
        object-fit: cover;" id="footerImage" src="../../assets/authenticator images/datareport.png" alt="datareport" />

        </header>
        <div class="card-group mt-5">
            <div class="card card-design"
                style="margin: 10px; box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%); border-radius: 10px;">
                <img src="../../assets/card images/destop.png"  class="card-pic">
                <div class="card-body">
                    <h2 class="card-title" style="text-align: center;color: #47c885;">Modern Interface</h2>
                    <p class="text-wrap">
                        Creating in-depth analysis and data visualizations is intuitive with a clean and easy-to-use
                        interface.
                    </p>

                </div>
            </div>
            <div class="card card-design"
                style="margin: 10px;box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%); border-radius: 10px;">
                <img src="../../assets/card images/dasboard.png" class="card-pic">
                <div class="card-body">
                    <h2 class="card-title" style="text-align: center;color: #47c885;">Dashboards</h2>
                    <p class="text-wrap">Visualize all of your data in customizable and easy-to-build dashboards. Get a
                        fresh and
                        relevant perspective data.</p>

                </div>
            </div>
            <div class="card card-design"
                style="margin: 10px;box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%); border-radius: 10px;">
                <img src="../../assets/card images/safereporting.png" class="card-pic" alt="...">
                <div class="card-body">
                    <h2 class="card-title" style="text-align: center;color: #47c885;">Safe Reporting</h2>
                    <p class="text-wrap">Schedule reports on a timely basis for the insights you need, when you need
                        them, and for
                        relevant parties only.</p>

                </div>
            </div>
            <div class="card card-design"
                style="margin: 10px;box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%); border-radius: 10px;">
                <img src="../../assets/card images/depthanalysis.png" class="card-pic" alt="...">
                <div class="card-body">
                    <h2 class="card-title" style="text-align: center;color: #47c885;">In-Depth Analysis</h2>
                    <p class="text-wrap"> Go beyond standard dashboards and one-size-fits-all solutions. Get granular
                        with your data
                        and
                        dive deeper.</p>

                </div>
            </div>
            <div class="card card-design" 
                style="margin: 10px;box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%); border-radius: 10px;">
                <img src="../../assets/card images/customreports.png" class="card-pic" alt="...">
                <div class="card-body">
                    <h2 class="card-title" style="text-align: center;color: #47c885;">Custom Reports</h2>
                    <p class="card-text text-sm-center text-md-left"> Custom reporting presents a single source of data and metrics, that allows you
                        to assess and
                        compare billing.</p>

                </div>
            </div>
        </div>
        <!-- <div class="card-f"
        style="margin: 10px;box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%); border-radius: 10px;">
        
                <img mat-card-xl-image src="../../assets/bottom image/dasboard.png">
                <mat-card-title-group>
                    <mat-card-title style="color: #0070b9; width: 300px;">
                        For Better Insights And Data-Driven Decisions, Combine Financial,
                        Clinical, And Business Data</mat-card-title>
                </mat-card-title-group>
    </div> -->
        <!-- <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <mat-card class="myCard">
                        <mat-card-header class="myCard">
                            <img mat-card-xl-image src="../../assets/bottom image/dasboard.png">
                            <mat-card-title-group>
                                <mat-card-title style="color: #0070b9; width: 300px;">
                                    For Better Insights And Data-Driven Decisions, Combine Financial,
                                    Clinical, And Business Data</mat-card-title>
                            </mat-card-title-group>
                        </mat-card-header>
                    </mat-card>

                </div>
            </div>

        </div> -->
        <div class="card mt-5 ">
            <div class="card-body">
                            <div class="d-flex align-items-center justify-content-center mt-5 ">
            <img src="../../assets/bottom image/dasboard.png"  height="200px" class="mr-2" alt="image">
            <p class="text-wrap" style="color: #0070b9; width: 300px;"> For Better Insights And Data-Driven Decisions, Combine Financial,
                Clinical, And Business Data</p>
                    </div>
            </div>
    </div>

   
    </div>
</section>
